<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class = "main-content">
        {{>header}}

    <h1>Help Page</h1>
    <p> Error: {{ title }} </p>
    <p>Description: {{ description }}</p>
    
    </div>
    {{>footer}}
</body>
</html>